header{
    width: 50%;
    height: auto;
    padding: 20px;
    margin:20px auto;
    border: 5px solid red;
    background-color: blueviolet;

    h1{
        background-color: brown;
        text-align: center;
        border-radius: 50px;
    }

    p{
        color: white;
        text-transform: capitalize;
    }

}